body {
  background-color: #141414;
  color: antiquewhite;
  font-family: 'Cousine', monospace;
}

a i {
  color: #555555 !important;
  font-size: 2.5em !important;
  margin-right: 1em;
}

a i:hover {
  color: #888888 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  background-color: #333333;
  text-align: center;
}


.cover {
  height: 40vh;
  padding-top: 30vh;
}

.color {
  color: #22c9b7;
}

#typed, .typed-cursor {
  font-size: 3em;
}

.navbar {
  margin: 3em;
  margin-left: 5em;
}

.logo {
  width: 4em;
  display:inline-block;
  vertical-align:middle;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.title {
  font-size: 1.6em;
  margin-left: 0.5em;
  vertical-align:middle;
}

.nonphone {
  display: inline;
}

.phone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .cover {
    height: 40vh;
    padding-top: 10vh;
  }

  .phone {
    display: inline;
  }

  .nonphone {
    display: none;
  }

  .navbar {
    margin-left: 3em;
    text-align: center;
  }
}
