body {
  background-color: #141414;
  color: antiquewhite;
  font-family: 'Noto Sans TC', sans-serif;
}

.cousine {
  font-family: 'Cousine', monospace;
}

a i {
  color: #555555 !important;
  font-size: 2.5em !important;
  margin-right: 1em;
}

a i:hover {
  color: #888888 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  background-color: #333333;
  text-align: center;
}


.cover {
  height: 40vh;
  padding-top: 30vh;
}

.color {
  color: #22c9b7;
}

#typed, .typed-cursor {
  font-size: 3em;
}

.navbar {
  margin: 2em;
  margin-left: 5vh;
}

.logo {
  width: 4em;
  display:inline-block;
  vertical-align:middle;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.title {
  font-size: 1.6em;
  margin-left: 0.8em;
  vertical-align:middle;
}

.nonphone {
  display: inline;
}

.phone {
  display: none;
}

.concat {
  margin-top: 2em;
}

.menu {
  float: right;
  margin-right: 3vw;
  margin-top: 0.7em;
}

.menu a {
  color: antiquewhite;
  text-decoration: none;
}

.menu a:hover {
  color: #22c9b7 !important;
}

#menu {
  margin-right: 5vw;
  font-size: 0.8em;
  vertical-align:middle;
}

@media only screen and (max-width: 500px) {
  .cover {
    height: 40vh;
    padding-top: 20vh;
  }

  .phone {
    display: inline;
  }

  .nonphone {
    display: none;
  }

  .logo {
    width: 3em;
  }
}

@media only screen and (max-width: 850px) {
  #menu {
    display: none;
  }
}
